html, body{
  height:100%;
}

#donggukmap{
  position: relative;
  top:10%;
  height:70%;
  width:100%;
  background-image: url(donggukmap.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

#nav{
  text-align: right;
}

#singong{
  top:7%;
  left:50%;
}

#socialscience{
  top:50%;
  left:33%;
}

.gps{
  background-image: url(spot.png);
  position: relative;
  width:3%;
  height:5%;
  background-size: contain;
  background-repeat: no-repeat;background-position: center top;
}
